.container-logout{
    width: 100%;
}
.nav_logout{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    border: none;
    background-color: transparent;
}
.nav_logout img{
    margin:-1em 2em -1px auto;
    width: 2%;
}
.nav_logout img:active{
    width: 3.5%;
}
.nav_logout img:hover{
    background-color: #fe4b2b21;
    border-radius:.1em;
 }
.headerAllVote{
    height: 230px;
    background-color: #FFFFFF;
    border: 1.5px solid #41527E;
    border-radius: 17px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerAllVote h2{
    margin-bottom: 1.5em;
}

.containerGetProject {
    margin: 3em;
    display: flex;
    justify-content: center;
    width: 100%;
}
 .boxGetProject {
    background: #ffffff16;
    width: 690px;
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    color:#FFFF;
 }

.title-infoProject {
    color:#FFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
 }
.descriptionProject {
    margin-top: 1em;
}
.section-PlanningVotes{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-allVotes{
    width: 80%;
}
.gridCardsVote{
    display: grid;
    margin: 3em;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
 
}
.containerCard_finalVote{
    margin-left: 2em;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1em;
    max-width: 158px;
    height: 179px;
    border-color: #3d4c74;
    border-width: 13px;
    border-style: double;
  

}
.containerCard_finalVote p{
    margin-bottom: 1em;
    color: #4F6291;
    font-weight: bold;
    font-size: 18px;
}

.minor{
    background-color: #f6dcd7;
}
.elderly{
    background-color:#E3F8E6 ;
}

.finalVote{
    background: #e9d7d716;
    width: auto;
    height: 60px;
    margin: 3em;
    padding: 2em;
    border-radius: 10px;
    color:#FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.finalVote input{
    margin-left: 1em;
    height: 40px;
    width: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    color: #FE4B2B;

} 



