.container-initiate {
    display: flex;
    justify-content: center;
    height: 100vh;
    
}
.singIn {
    flex: 1;
}
.inputsSingIn{
    display: flex;
    flex-direction: column;
    width: 89%;
}
.singUp-pink {
    color: #FFFFFF;
    flex: 1;
    background-color: #41527E;
} 

