.container-initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #41527e;
  color: #41527e;
}

.box-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 30em;
  width: 27em;
  background-color: #ffffff;
  border-radius: 17px;
}

.box-signin div {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 90%;
}
.box-signin div p{
width: 70%;
align-items: flex-start;
}

.box-signin input {
  border: none;
  height: 50px;
  width: 70%;
  background: #f0f0f3;
}

.box-signin button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: 700;
  margin-top: 1em;
  color: #ffffff;
  border: none;
  width: 315px;
  height: 67px;
  background: #fe4b2b;
  border-radius: 44px;
  margin-top: 2em;
}

.box-signin button:hover {
  text-shadow: 0 4px rgba(234, 28, 28, 0.956);
}

.registerNow {
  color: #ffffff;
  margin: 1em;
}
.registerNow span {
  color: #fe4b2b;
}
