body{
    background-color: #41527E;
}

.projectpage{
    display: flex;
    justify-content: center;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

/* div de creación de proyectos */
.create{
    width: 20%;
    margin: 30px;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 150px;
}

/* div lista de proyectos */
.list {
    width: 50%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.list ul {
    padding: 0;
    width: 100%;
}

#listitem {
    background-color: white;
    border-radius: 8px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 25px;
    padding-right: 35px;
    margin: 10px;
    gap: 35px;
    width: 100%;
}

#description {
    width: 100%;
}


.icon {
    height: 1.5rem;
}

/* Para eliminar los margenes entre el titulo y el poname: */
#listitem h3{
    color: #FE4B2B;
    font-size: 25px;
    margin: 0;
    width: 130px;
}

p {
    margin: 0;
}

.new-project{
    color: white;
    font-size: 14px;
}

.btn-projects {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn-projects button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    font-weight: 700;
    color: #ffffff;
    border: none;
    width: 90px;
    height: 50px;
    background: #fe4b2b;
    border-radius: 44px;
}

.new-project input{
    border: 0;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    background-color:#4F6290;
}

#form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#add-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
}

#add-member button {
    width: 3rem;
    height: 2rem;
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
    border:0;
    border-radius: 2px;
}

/* #title {
    background-color: #41527E;
    border-radius: 0;
    font-weight: lighter;
    border-bottom: 1px solid white;
} */

textarea {
    background-color: #4F6290;
    width: 100%;
    height: 150px;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    font-weight: lighter;
    resize: none;
}

::placeholder{
    color: #ffffff;
}