/*boton po o team*/
.switch {
  display:flex;
  align-items: center;
  position: relative;
  margin: 15px auto;
  height: 36px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: #535353;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 32px;
  background: #fe4b2b;
  border-radius: 44px;
  background-image: linear-gradient(to bottom, #fe4b2b, #fe632bdf);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  transition: left 0.15s ease-out;
}

/*sign Up*/

.container-initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /**/
  background-color: #41527e;
  color: #41527e;
}


.box-signup {
  padding: 1em;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: auto;
  width: 29em;
  background-color: #ffffff;
  border-radius: 17px;
 
}
.box-signup h1 {
  margin-bottom: .3em;
}

.box-signup input {
  border: none;
  margin-bottom: 1.4em;
  width: 315px;
  height: 40px;
  background: #f0f0f3;
}


.box-signup button {
  font-size: large;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #ffffff;
  border: none;
  width: 315px;
  height: 67px;
  left: calc(50% - 315px / 2 + 11.5px);
  top: calc(50% - 67px / 2 + 169.5px);
  background: #fe4b2b;
  border-radius: 44px;
}
.box-signup button:hover {
  text-shadow: 0 4px rgba(234, 28, 28, 0.956);
}

.message_feedback{
  color: #fe4b2b;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.login_back{
  color: #ffffff;
  margin: 1em;
}
.login_back button{
  color: #fe4b2b;
  border: none;
  background-color: transparent;
}

@media (max-height: 800px) {
  .container-initial{
    height: 100%;
    min-height: 780px;
  }
}